@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, serif;
  color: white;
}

.bg {
  min-height: 100vh;
  background: linear-gradient(rgb(0 0 0 / 86%), rgb(0 0 0 / 63%)),
    url(https://wallpaperaccess.com/full/1512223.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.searchBox {
  background: white;
  width: 40%;
  border-radius: 5px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: large;
}

.searchBox input {
  width: 80%;
  color: black;
}
.searchBox input,
.searchBox button {
  appearance: none;
  border: none;
  outline: none;
  padding: 10px 20px;
  background: transparent;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.card-container .card {
  height: 450px;
}
.card-container img {
  height: 75%;
  object-fit: cover;
  object-position: center;
}

.no-data {
  color: red;
  margin: 60px 0;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.back-btn {
  position: absolute;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
}

.movie-details {
  min-height: 100vh;
  background-color: black;
  position: relative;
  gap: 20px;
  padding: 20px;
}

.movie-poster {
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(94, 92, 92, 0.2);
}

.movie-info {
  flex: 1;
}
.movie-info h2 {
  margin-bottom: 10px;
}

.fav-btn {
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 200px;
}

.favorites-container {
  min-height: 100vh;
  background-color: black;
  padding: 20px;
}
.favorites-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.favorite-card {
  width: 200px;
  background-color: #1c1c1c;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(94, 92, 92, 0.2);
  text-align: center;
}
.remove-btn {
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #ff4d4d;
  border: none;
  color: white;
  border-radius: 4px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.back-btn {
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.favorite {
  margin-right: 20px;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}